# Backups
*~

# Files created by interpreters
*.pyc
*.elc

company-statistics-cache.el
history
helm-adaptive-history
ido.last
image-dired
multi-compile.cache
places
games
recentf
tramp

# Used by amx/smex to record recently used commands
amx-items
smex-items


bookmarks
session.*
url/
ac-comphist.dat
semanticdb/*
TAGS
third-party-lisp/pylookup/*-html/*
third-party-lisp/pylookup/*.zip
eshell/
network-security.data
.litable-lists.el

.cask

# ELPA metadata
elpa/*.txt
elpa/archives
elpa/*.signed

elpa/gnupg

# Projectile metadata
projectile.cache
projectile-bookmarks.eld

# Customisations that we don't want in git.
user-lisp/site-customisations.el

var/pcache
.org-id-locations

# Downloaded files
# Copies of Emacs C source code
src
# Images of emojis
emojis

# anaconda is a virtualenv with eggs, so shouldn't be checked in.
anaconda-mode

forge-database.sqlite

.lsp-session*

.dap-breakpoints

# Part of magit
transient
