
# Backups
*~

# Files created by interpreters
*.pyc
*.elc

image-dired
tramp
bookmarks
session.*
url/cookies
ac-comphist.dat
semanticdb/*
TAGS
third-party-lisp/pylookup/*-html/*
third-party-lisp/pylookup/*.zip
eshell/history
eshell/lastdir

# ELPA metadata
elpa/*.txt
elpa/archives

# Projectile metadata
projectile.cache
projectile-bookmarks.eld