# Backups
*~

# Files created by interpreters
*.pyc
*.elc

history
image-dired
tramp
bookmarks
session.*
url/cookies
ac-comphist.dat
semanticdb/*
TAGS
third-party-lisp/pylookup/*-html/*
third-party-lisp/pylookup/*.zip
eshell/history
eshell/lastdir

.cask

# ELPA metadata
elpa/*.txt
elpa/archives
elpa/*.signed

elpa/gnupg

# Projectile metadata
projectile.cache
projectile-bookmarks.eld

# Customisations that we don't want in git.
user-lisp/site-customisations.el

var/pcache
